<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.pontesassociados.chezmenu"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ChezMenu Restaurante</name>

    <description>
        5 categorias para 5 momentos da sua vida. Os 5 melhores restaurantes para cada um desses momentos	
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Anderson Pontes
    </author>

<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />
<icon src="themes/img/mobile-logo57x57.png" gap:platform="ios" width="57" height="57"/>
<icon src="themes/img/mobile-logo72x72.png" gap:platform="ios" width="72" height="72"/>
<icon src="themes/img/mobile-logo120x120.png" gap:platform="ios" width="120" height="120"/>
<icon src="themes/img/mobile-logo152x152.png" gap:platform="ios" width="152" height="152"/>
<icon src="themes/img/mobile-logo76x76.png" gap:platform="ios" width="76" height="76"/>
<!-- Android -->
<gap:splash src="splash.png" />
<gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<!-- iPhone 6 -->
<gap:splash src="splash/ios/splash.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="splash/ios/splash640x960.png" gap:platform="ios" width="640" height="960" />
<gap:splash src="splash/ios/splash640x1136.png" gap:platform="ios" width="640" height="1136" />
<!-- iPhone 6 -->
<gap:splash src="splash/ios/splash750x1334.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="splash/ios/splash1242x2208.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="splash/ios/splash2208x1242.png" gap:platform="ios" width="2208" height="1242" />
<!-- iPad -->
<gap:splash src="splash/ios/splash768x1024.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="splash/ios/splash1024x768.png" gap:platform="ios" width="1024" height="768" />
<!-- Retina iPad -->
<gap:splash src="splash/ios/splash.png1536x2048" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="splash/ios/splash.png2048x1536" gap:platform="ios" width="2048" height="1536" />
<!-- winPhone -->
<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />


<feature name="http://api.phonegap.com/1.0/network" />
<feature name="http://api.phonegap.com/1.0/geolocation" />
<feature name="http://api.phonegap.com/1.0/device" />

<gap:plugin name="org.li8.inappbrowser" version="0.1" />

<access origin="*" />	
<script src="cordova.js"></script>
</widget>
